# Node env mode
NODE_ENV=""

# Absolute path from root to folder containing app
PATH_TO_APP=""

# Node server properties
NODE_PRT=           # Node port open to connections
NODE_PCL=""         # Node protocol ('http' | 'https')
NODE_HST=""         # Node hostname

# Postgres credentials
PG_PRT=             # DB port open to connections
PG_HST=""           # DB hostname
PG_USR=""           # DB user name
PG_PWD=""           # DB user password
PG_DB=""            # DB name